@model SOFT331.Models.Timetable
@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Timetable</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>
    </dl>
    <dl class="dl-horizontal">
        <dt>
            Train
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Train.Name)
        </dd>
    </dl>

    <h3>Stops</h3>
    <table class="table">
        <tr>
            <th>Station</th>
            <th>Arrival Time</th>
            <th>Departure Time</th>
        </tr>

        @foreach (var stop in Model.StationTimetables)
        {
            <tr>
                <td>@stop.Station.Name</td>
                <td>@stop.Arrival</td>
                <td>@stop.Departure</td>
            </tr>
        }
    </table>
    
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
