@model SOFT331.Models.Ticket

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Ticket</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Discount.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Discount.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fare.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fare.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Timetable.Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Timetable.Id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Wheelchair)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Wheelchair)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
