@model IEnumerable<SOFT331.ViewModels.TicketIndexViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TimetableId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FareId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DiscountId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Wheelchair)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(model => item.Timetable.Date)
        </td>
        <td>
            @item.Fare.ToString()
        </td>
        <td>
            @if(item.Discount != null)
            {
                @Html.DisplayFor(model => item.Discount.Name)
            }
        </td>
        <td>
            @Html.DisplayFor(model => item.WheelchairStatusString)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
